 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body {
    font-family: 'Mukta';
}

header {
 text-align: center;
 padding-bottom: 20px;
}

.header-style {
    font-size: 30px;
    color: white;

    font-weight: 700;
}
#header-container {
 width: auto;
 height: 50px;
 margin: 15px 20px 5px 20px;
 background-image: linear-gradient(to right, #2F75C8, #272A65);
}

h2 {
    position: relative;
    width: 100%;
    font-weight: bolder;
    
}

#left-section {
 
 
  width: 35%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  margin-right: 5px;
  margin-left: 0;
  margin-top: 5px;

}

.search-box {
    position: absolute;
    text-align: left;
    margin-left: 5px;
    top: 55px;
    right: 0;
    left: 30px;
    width: 100%;
    height: 50px;
    color: black;
}

.cityheader {

}

textarea {
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    height: 40px;
    font-family: 'Mukta';
    color: grey;
    font-size: medium;
    border-radius: 5px 5px 5px 5px;
}

button {
    background-color: #56a1e3;
    color: white;
    height: 40px;
    text-align: center;
   
    width: 100%;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #56a1e3;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 5px 5px; 
    
}

.black-border {
    display: block;
    width: 100%;
    border-bottom: black solid 2px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cities {
    display: block;
    width: 100%;
    border: none;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 5px 5px; 
    padding-bottom: 30px;
    margin-top: 10px;
    background-color: darkgrey;
}



span {
    color: white;
    background-color: lightgrey;
    border: solid 1px;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 20px 2px 20px;
    width: 500px;
    height: 20px;
    font-size: small;
    
}

#right-section {
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 100px;
    right: 35px;
    width: 65%;
    height: 220px;
    border: solid ;
    margin-left: 15px;
}

ul {
    position: relative;
padding: 5px 0px 5px 15px;
list-style: none;
font-size: 20px;
bottom: 35px;
}

h2 {
    padding: 5px 0px 5px 15px;
}

.forecast-title {
    display: flex;
}

.bottom-section {
    margin-top: 25px;
    position: absolute;
    top: 40%;
    left: 25%;
    padding-left: 100px;

}

.blocksAll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-weight: lighter;
    text-align: left;
   
    

} 
h3 {
    font-weight: bold;
    position: relative;
    top: 20%;
    margin-left: 20px;
}

.block1 {
    margin: 0 20px 0 15px;
    height: 250px;
    display: inline-flex;
    justify-content: space-evenly;
    
}
.block2 {
    margin: 0 20px 0 3px;
    padding: 3px 0 5px 2px;
    height: 250px;
    
    display: inline-flex;
    justify-content: space-evenly;
}

.block3 {
    margin: 0 20px 0 3px;
    padding: 3px 0 5px 2px;
    height: 250px;

    display: inline-flex;
    justify-content: space-evenly;
}


.block4 {
    margin: 0 20px 0 3px;
    padding: 3px 0 5px 2px;
    height: 250px;
    
    display: inline-flex;
    justify-content: space-evenly;
    
}

.block5 {
    margin: 0 20px 0 3px;
    padding: 3px 5px 5px 2px;
    height: 250px;
    display: inline-flex;
    justify-content: space-evenly;
}


.firstlist {
    position: relative;
    top: 50px;

}

 .blocktext {
    position: relative;
    top: 30%;
    left: 0;
    right: 20%;
    padding: 0 10px 5px 0; 
    
}

.card {
    width: 150px;
    background-color: #1c2c3b;
    
}